<div>
    <table class="grid dict">
        {% if Measure.id.exists() %}
        <tr>
            <th scope="row"><b>Id: </b></th>
            <td style="padding-left: 25px;">{{Measure.id}}</td>
        </tr>
        {% endif %}
        {% if Measure.url.exists() %}
        <tr>
            <th scope="row"><b>Url: </b></th>
            <td style="padding-left: 25px;">{{Measure.url}}</td>
        </tr>
        {% endif %}
        {% if Measure.version.exists() %}
        <tr>
            <th scope="row"><b>Version: </b></th>
            <td style="padding-left: 25px;">{{Measure.version}}</td>
        </tr>
        {% endif %}
        {% for identifier in Measure.identifier %}
        <tr>
            <th scope="row"><b>Identifier: </b></th>
            <td style="padding-left: 25px;">
                {% if identifier.type.exists() %}
                <p style="margin-bottom: 5px;">
                    <b>type: </b> <span>{{identifier.type.value}}</span>
                </p>
                {% endif %}
                {% if identifier.value.exists() %}
                <p style="margin-bottom: 5px;">
                    <b>value: </b> <span>{{identifier.value}}</span>
                </p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% if Measure.name.exists() %}
        <tr>
            <th scope="row"><b>Name: </b></th>
            <td style="padding-left: 25px;">{{Measure.name}}</td>
        </tr>
        {% endif %}
        {% if Measure.title.exists() %}
        <tr>
            <th scope="row"><b>Title: </b></th>
            <td style="padding-left: 25px;">{{Measure.title}}</td>
        </tr>
        {% endif %}
        {% if Measure.subtitle.exists() %}
        <tr>
            <th scope="row"><b>Subtitle: </b></th>
            <td style="padding-left: 25px;">{{Measure.subtitle}}</td>
        </tr>
        {% endif %}
        {% if Measure.status.exists() %}
        <tr>
            <th scope="row"><b>Status: </b></th>
            <td style="padding-left: 25px;">{{Measure.status.value}}</td>
        </tr>
        {% endif %}
        {% if Measure.experimental.exists() %}
        <tr>
            <th scope="row"><b>Experimental: </b></th>
            <td style="padding-left: 25px;">{{Measure.experimental.value}}</td>
        </tr>
        {% endif %}
        {% if Measure.scoring.exists() %}
        <tr>
            <th scope="row"><b>Scoring: </b></th>
            <td style="padding-left: 25px;">
                {% if Measure.scoring.coding.exists() %}
                    {% for coding in Measure.scoring.coding %}
                        {% if coding.system.exists() %}
                        <p style="margin-bottom: 5px;">
                            <b>system: </b> <span>{{coding.system}}</span>
                        </p>
                        {% endif %}
                        {% if coding.code.exists() %}
                        <p style="margin-bottom: 5px;">
                            <b>code: </b> <span>{{coding.code}}</span>
                        </p>
                        {% endif %}
                        {% if coding.display.exists() %}
                        <p style="margin-bottom: 5px;">
                            <b>display: </b> <span>{{coding.display}}</span>
                        </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if Measure.scoring.coding.exists().not and Measure.scoring.text.exists() %}
                    {{Measure.scoring.text}}
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% if Measure.improvementNotation.exists() %}
        <tr>
            <th scope="row"><b>Improvement Notation: </b></th>
            <td style="padding-left: 25px;">
                {% if Measure.improvementNotation.coding.exists() %}
                    {% for coding in Measure.improvementNotation.coding %}
                        {% if coding.system.exists() %}
                        <p style="margin-bottom: 5px;">
                            <b>system: </b> <span>{{coding.system}}</span>
                        </p>
                        {% endif %}
                        {% if coding.code.exists() %}
                        <p style="margin-bottom: 5px;">
                            <b>code: </b> <span>{{coding.code}}</span>
                        </p>
                        {% endif %}
                        {% if coding.display.exists() %}
                        <p style="margin-bottom: 5px;">
                            <b>display: </b> <span>{{coding.display}}</span>
                        </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if Measure.improvementNotation.coding.exists().not and Measure.improvementNotation.text.exists() %}
                    {{Measure.improvementNotation.text}}
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% if Measure.type.exists() %}
        <tr>
            <th scope="row"><b>Type: </b></th>
            <td style="padding-left: 25px;">
                {% if Measure.type.coding.exists() %}
                    {% for coding in Measure.type.coding %}
                        {% if coding.system.exists() %}
                        <p style="margin-bottom: 5px;">
                            <b>system: </b> <span>{{coding.system}}</span>
                        </p>
                        {% endif %}
                        {% if coding.code.exists() %}
                        <p style="margin-bottom: 5px;">
                            <b>code: </b> <span>{{coding.code}}</span>
                        </p>
                        {% endif %}
                        {% if coding.display.exists() %}
                        <p style="margin-bottom: 5px;">
                            <b>display: </b> <span>{{coding.display}}</span>
                        </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if Measure.type.coding.exists().not and Measure.type.text.exists() %}
                    {{Measure.type.text}}
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% if Measure.subject.exists() %}
        <tr>
            <th scope="row"><b>Subject: </b></th>
            {%if Measure.subject is CodeableConcept %}
            <td style="padding-left: 25px;">
                {% if Measure.subject.coding.exists() %}
                    {% for coding in Measure.subject.coding %}
                        {% if coding.system.exists() %}
                        <p style="margin-bottom: 5px;">
                            <b>system: </b> <span>{{coding.system}}</span>
                        </p>
                        {% endif %}
                        {% if coding.code.exists() %}
                        <p style="margin-bottom: 5px;">
                            <b>code: </b> <span>{{coding.code}}</span>
                        </p>
                        {% endif %}
                        {% if coding.display.exists() %}
                        <p style="margin-bottom: 5px;">
                            <b>display: </b> <span>{{coding.display}}</span>
                        </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if Measure.subject.coding.exists().not and Measure.subject.text.exists() %}
                    {{Measure.subject.text}}
                {% endif %}
            </td>
            {% endif %}
            {% if Measure.subject is Reference %}
            <td style="padding-left: 25px;">
                {% if Measure.subject.reference.exists() %}
                <p style="margin-bottom: 5px;">
                    <b>reference: </b> <span>{{Measure.subject.reference}}</span>
                </p>
                {% endif %}
                {% if Measure.subject.type.exists() %}
                <p style="margin-bottom: 5px;">
                    <b>type: </b> <span>{{Measure.subject.type}}</span>
                </p>
                {% endif %}
                {% if Measure.subject.display.exists() %}
                <p style="margin-bottom: 5px;">
                    <b>code: </b> <span>{{Measure.subject.display}}</span>
                </p>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endif %}
        {% if Measure.date.exists() %}
        <tr>
            <th scope="row"><b>Date: </b></th>
            <td style="padding-left: 25px;">{{Measure.date}}</td>
        </tr>
        {% endif %}
        {% if Measure.publisher.exists() %}
        <tr>
            <th scope="row"><b>Publisher: </b></th>
            <td style="padding-left: 25px;">{{Measure.publisher}}</td>
        </tr>
        {% endif %}
        {% if Measure.description.exists() %}
        <tr>
            <th scope="row"><b>Description: </b></th>
            <td style="padding-left: 25px;">{{Measure.description}}</td>
        </tr>
        {% endif %}
        {% if Measure.useContext.exists() %}
        <tr>
            <th scope="row"><b>Use Context: </b></th>
            <td style="padding-left: 25px;">
                <table class="grid-dict">
                    <tr><th><b>code</b></th><th><b>value</b></th></tr>
                    {% for useContext in Measure.useContext %}
                      <tr>
                        <td>{{useContext.code.code}}</td>
                        <td>{{(useContext.value as CodeableConcept).coding.first().code}}</td>
                      </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endif %}
        {% if Measure.jurisdiction.exists() %}
        <tr>
            <th scope="row"><b>Jurisdiction: </b></th>
            <td style="padding-left: 25px;">{{Measure.jurisdiction.first().coding.first().code}}</td>
        </tr>
        {% endif %}
        {% if Measure.topic.exists() %}
        <tr>
            <th scope="row"><b>Topic: </b></th>
            <td style="padding-left: 25px;">{{Measure.topic.first().coding.first().code}}</td>
        </tr>
        {% endif %}
        {% if Measure.purpose.exists() %}
        <tr>
            <th scope="row"><b>Purpose: </b></th>
            <td style="padding-left: 25px;">{{Measure.purpose}}</td>
        </tr>
        {% endif %}
        {% if Measure.usage.exists() %}
        <tr>
            <th scope="row"><b>Usage: </b></th>
            <td style="padding-left: 25px;">{{Measure.usage}}</td>
        </tr>
        {% endif %}
        {% if Measure.copyright.exists() %}
        <tr>
            <th scope="row"><b>Copyright: </b></th>
            <td style="padding-left: 25px;">{{Measure.copyright}}</td>
        </tr>
        {% endif %}
        {% if Measure.disclaimer.exists() %}
        <tr>
            <th scope="row"><b>Disclaimer: </b></th>
            <td style="padding-left: 25px;">{{Measure.disclaimer}}</td>
        </tr>
        {% endif %}
        {% if Measure.approvalDate.exists() %}
        <tr>
            <th scope="row"><b>Approval Date: </b></th>
            <td style="padding-left: 25px;">{{Measure.approvalDate}}</td>
        </tr>
        {% endif %}
        {% if Measure.lastReviewDate.exists() %}
        <tr>
            <th scope="row"><b>Last Review Date: </b></th>
            <td style="padding-left: 25px;">{{Measure.lastReviewDate}}</td>
        </tr>
        {% endif %}
        {% if Measure.effectivePeriod.exists() %}
        <tr>
            <th scope="row"><b>Effective Period: </b></th>
            <td style="padding-left: 25px;">{{Measure.effectivePeriod.start}}..{{Measure.effectivePeriod.end}}</td>
        </tr>
        {% endif %}
        {% if Measure.riskAdjustment.exists() %}
        <tr>
            <th scope="row"><b>Risk Adjustment: </b></th>
            <td style="padding-left: 25px;">{{Measure.riskAdjustment}}</td>
        </tr>
        {% endif %}
        {% if Measure.rateAggregation.exists() %}
        <tr>
            <th scope="row"><b>Rate Aggregation: </b></th>
            <td style="padding-left: 25px;">{{Measure.rateAggregation}}</td>
        </tr>
        {% endif %}
        {% if Measure.rationale.exists() %}
        <tr>
            <th scope="row"><b>Rationale: </b></th>
            <td style="padding-left: 25px;">{{Measure.rationale}}</td>
        </tr>
        {% endif %}
        {% if Measure.clinicalRecommendationStatement.exists() %}
        <tr>
            <th scope="row"><b>Clinical Recommendation Statement: </b></th>
            <td style="padding-left: 25px;">{{Measure.clinicalRecommendationStatement}}</td>
        </tr>
        {% endif %}
        {% if Measure.guidance.exists() %}
        <tr>
            <th scope="row"><b>Guidance: </b></th>
            <td style="padding-left: 25px;">{{Measure.guidance}}</td>
        </tr>
        {% endif %}
        {% if Measure.library.exists() %}
        <tr>
            <th scope="row"><b>Library: </b></th>
            <td style="padding-left: 25px;">{{Measure.library}}</td>
        </tr>
        {% endif %}
        {% if Measure.relatedArtifact.exists() %}
        <tr>
          <th scope="row"><b>Related Artifacts: </b></th>
          <td style="padding-left: 25px;">
            <table class="grid-dict">
              <tr><th><b>Type</b></th><th><b>Resource</b></th></tr>
              {% for artifact in Measure.relatedArtifact %}
                <tr><td>{{artifact.type.value}}</td><td>{{artifact.resource}}</td></tr>
              {% endfor %}
            </table>
          </td>
        </tr>
        {% endif %}
        {% for definition in Measure.definition %}
        <tr>
          <th scope="row"><b>Definition: </b></th>
          <td style="padding-left: 25px;">{{definition}}</td>
        </tr>
        {% endfor %}
        {% for group in Measure.group %}
        <tr>
          <th scope="row"><b>Group: {{group.id}}</b></th>
          <td style="padding-left: 25px;">
          </td>
        </tr>
        {% endfor %}
    </table>
</div>
